# Copyright (C) 2017 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#
on boot
# SSWAP
    write /proc/sys/vm/swappiness 160

# POC
    chown system system /sys/class/lcd/panel/poc
    chmod 0660 /sys/class/lcd/panel/poc

    chown system system /dev/poc
    chmod 0660 /dev/poc

# POC_ONOFF (MCA Dimming Set for Burn In Compensation)
    chown system system /sys/class/lcd/panel/poc_onoff
    chmod 0660 /sys/class/lcd/panel/poc_onoff

on fs
# OMC Partition
    mkdir /omr 0771 system system
    wait /dev/block/bootdevice/by-name/omr
    mount ext4 /dev/block/bootdevice/by-name/omr /omr nosuid nodev noatime noauto_da_alloc,discard,journal_checksum,data=ordered,errors=panic
    chown system system /omr
    chmod 0771 /omr

# irisd
service irisd /system/bin/irisd
    class late_start
    user system
    group system

# faced
service faced /system/bin/faced
    class late_start
    user system
    group system

on post-fs-data
# Access permission for audio calibration
    chown system audio /sys/class/dsm/max98506/dsm_log
    chown system audio /sys/class/dsm/max98506/spk_excu_max
    chmod 0440 /sys/class/dsm/max98506/spk_excu_max
    chown system audio /sys/class/dsm/max98506/spk_excu_maxtime
    chmod 0440 /sys/class/dsm/max98506/spk_excu_maxtime
    chown system audio /sys/class/dsm/max98506/spk_excu_overcnt
    chmod 0440 /sys/class/dsm/max98506/spk_excu_overcnt
    chown system audio /sys/class/dsm/max98506/spk_temp_max
    chmod 0440 /sys/class/dsm/max98506/spk_temp_max
    chown system audio /sys/class/dsm/max98506/spk_temp_maxtime
    chmod 0440 /sys/class/dsm/max98506/spk_temp_maxtime
    chown system audio /sys/class/dsm/max98506/spk_temp_overcnt
    chmod 0440 /sys/class/dsm/max98506/spk_temp_overcnt
    chown system audio /sys/class/dsm/max98506/spk_amp_reg_wrong_cnt
    chmod 0440 /sys/class/dsm/max98506/spk_amp_reg_wrong_cnt
    chown system audio /sys/class/dsm/max98506/spk_amp_reg_diff_dump
    chmod 0440 /sys/class/dsm/max98506/spk_amp_reg_diff_dump
    chown system audio /sys/class/dsm/maxdsm_cal/max
    chown system audio /sys/class/dsm/maxdsm_cal/min
    chown system audio /sys/class/dsm/maxdsm_cal/status
    chown system audio /sys/class/dsm/maxdsm_cal/duration
    chown system audio /sys/class/dsm/maxdsm_cal/temp
    chown system audio /sys/class/dsm/maxdsm_cal/rdc
    mkdir /efs/maxim 0770 audioserver audio
    chown audioserver audio /efs/maxim/temp_cal
    chown audioserver audio /efs/maxim/rdc_cal
    chmod 0660 /efs/maxim/temp_cal
    chmod 0660 /efs/maxim/rdc_cal
    chown system audio /sys/class/dsm/maxdsm_cal/v_status
    chown system audio /sys/class/dsm/maxdsm_cal/v_duration
    chown system audio /sys/class/dsm/maxdsm_cal/v_validation

# FM Radio
    chown system audio /dev/radio0
    chmod 0660 /dev/radio0

# Samsung Pay
    mkdir /efs/pfw_data 0760 spay spay

# MST/NFC Switch
    chown spay system /dev/mst_ctrl
    chmod 0660 /dev/mst_ctrl

on post-fs
# Create carrier folder for HiddenMenu
    mkdir /efs/carrier 0755 system system

# DP AUX switch control
    chmod 0660 /sys/class/dp_sec/dp_sbu_sw_sel
    chown system system /sys/class/dp_sec/dp_sbu_sw_sel

# DP DEX control
    chmod 0660 /sys/class/dp_sec/dex
    chown system system /sys/class/dp_sec/dex

# DP AUX dev control
    chmod 0660 /dev/secdp_aux
    chown system system /dev/secdp_aux

# DP error info
    chmod 0660 /sys/class/dp_sec/dp_error_info
    chown system system /sys/class/dp_sec/dp_error_info

# SSWAP
service swapon /sbin/sswap -s -f 2048
    class core
    user root
    group root
    seclabel u:r:sswap:s0
    oneshot

# Create mb_po folder for Activation TA
    mkdir /efs/mb_po 0700 system system
